
// Font smoothing

html, html a{
	-webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	font-family: 'Roboto', sans-serif; 
}

.-clear:after {
	content: "";
	clear: both;
}