.icon {
	cursor: pointer;
}

.icon--search {
	font-size: 20px;
}

.icon--white {
	color: white;
}

.icon--blue {
	color: $blue;
}

.icon--green{
	color: $green;
}

.icon--phone{
	@include transform(rotate(17deg));
	margin-right: 5px;
}