.place-media {}

.place-wrap {
	position: relative;
	max-width: $maxPageWidth;
	padding: 0 30px;
	margin: 0 auto;
}

.place-information{
	position: absolute;
  	width: 33.3%;
  	top: 10px;
  	left: 0px;
  	z-index: $z-layer2;
}

.place-container{
	position: relative;
	width: 100%;
	margin-bottom: 40px;
}

.place-media--slider {}

.place-media--slider__section {
	@include display-flex(flex !important);
	@include flex-wrap(wrap);
	outline: none;
	
	div {
		width: 33.33%;
	}
}

.place-media--slider__item {
	box-sizing: border-box;
  	padding: 10px 10px 10px 10px;

  	img {
  		width: 100%;
  	}
}

.place-information__open,
.place-information__address,
.place-information__name,
.place-information__rating,
 {
	margin-bottom: 10px;
}

.place-information__rating{
	line-height: 0px;
	
	img {
		width: 100px;
	}
	
}

.place-information__ranking{
	position: absolute;
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	background-color: $blue;
	width: 25px;
	height: 25px;
	color: white;
	font-size: 13px;
	font-weight: 900;
	border-radius: 50%;
	left: -50px;
	top: 5px;
}
