.searchbar {
	max-width: $maxPageWidth;
	@include align-items(center);
	margin: 0 auto;
}

.searchbar--wrap{
	position: relative;
	width: 100%;
	background: white;
	margin-bottom: 20px;
}

.searchbar.is-home {
	@include align-items(center);
	@include justify-content(center);
	width: 100%;
	
	.searchbar--icon {
		color: white;
		font-size: 30px;
		margin-left: 0;
	}

	.searchbar--input-container{
		width: 40%;
	}

	.searchbar--input{
		font-size: 18px;
	}
}

.searchbar--icon {
	color: $blue;
	font-size: 22px;
	margin-left: auto;
}

.searchbar--input-container {
	position: relative;
	width: 33.3%;
}

.searchbar--input {
	display: block;
	width: 90%;
	box-sizing: border-box;
	height: 45px;
	padding-right: 10px;
	@include border-radius(5px);
	border: none;
	background: white;
	font-size: 16px;
	outline: none;
	color: $dark-grey;
}

#input-after {
	position: absolute;
	display: block;
	left: 15px;
	top: 12px;
	color: $blue;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.searchbar--term input {
	padding-left: 75px;
}

.searchbar--location input {
	padding-left: 85px;
}

.searchbar--filter input {
	padding-left: 130px;
}

.searchbar--filter:after {
	@extend #input-after;
	content: "FILTER BY";
}
.searchbar--term:after {
	@extend #input-after;
	content: "FIND";
}
.searchbar--location:after {
	@extend #input-after;
	content: "NEAR";
}