/**
*
* Fixed width / heights
*
**/

$maxPageWidth: 960px;
$headerHeight: 75px;

/**
*
* Break points
*
**/

$desktop: 1024px;
$tablet: 760px;
$mobile: 460px;

/**
*
* Colors
*
**/

$blue: rgb(17,86,136);
$background-grey: #fafafa;
$light-grey: #6c6c6c;
$dark-grey: #404040;
$green: rgb(16, 178, 66);
$red: #c3022f;

/**
*
* Z-layers
*
**/

$z_layer_base: 0;
$z_layer0: 1;
$z_layer1: 10;
$z_layer2: 20;
$z_layer3: 30;
$z_layer4: 40;
$z_layer5: 50;
$z_layer6: 60;
$z_layer7: 70;
$z_layer8: 80;
$z_layer9: 90;
$z_layer10: 100;
$z_layer_hidden: -1;
