<!DOCTYPE html>
<html>
<head>
 	<meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Instagrammm - Find resturants on Instagram</title>
	
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9Z1enGrFC26vqo23HdCbHuaesx9TpG8g"></script> -->
	
</head>
<body>
	
	<div id="react-main-mount"></div>

	<script src="js/main.js"></script>

</body>
</html>
