/**
	CSS BEM: 
	
	.block
	.block__element
	.block--modifer

	.person {}
	.person__hand {}
	.person--female {}
	.person--female__hand {}
	.person__hand--left {}

**/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: red;
}

label {
	float: left;
	margin-right: 10px;

	&.test{
		color: red;
	}
}

input {
	margin-bottom: 20px;	
	display: block;
}